---
layout: default
permalink: /short/index.html
length: lshort
---





<div class="grid grid-pad">
    


    <div class="post">
        {% for post in site.posts %}     
{% if post.length contains 'short' %}
        
        
         <div class="col-1-3 ">

                       
       <span class="post-date en">{{ post.date | date_to_string }}</span>
            <a class="tile_link" href="{{ site.baseurl }}{{ post.url }}" >   <h2>{{ post.title }}</h2></a>
                
           
             


             <br>
            <p> {{ post.desc }}</p>
               

            
            </a>

       </div>
<br />
      {% endif %}{% endfor %}  

</div>







