@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre');


@font-face {
  font-family: 'Ayanna';
  src: url('Ayanna-Bold.eot'); /* IE9 Compat Modes */
  src: url('Ayanna-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Ayanna-Bold.woff') format('woff'), /* Modern Browsers */
       url('Ayanna-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Ayanna-Bold.svg#fb1a8202e95a9dc7f824cb00d41cb6ce') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}



.fractions {
	-moz-font-feature-settings:"frac" 1, "kern" 1;
	-moz-font-feature-settings:"frac=1, kern=1";
	-ms-font-feature-settings:"frac" 1, "kern" 1;
	-o-font-feature-settings:"frac" 1, "kern" 1;
	-webkit-font-feature-settings:"frac" 1, "kern" 1;
	font-feature-settings:"frac" 1, "kern" 1;
}
.case {
	-moz-font-feature-settings:"case" 1, "kern" 1;
	-moz-font-feature-settings:"case=1, kern=1";
	-ms-font-feature-settings:"case" 1, "kern" 1;
	-o-font-feature-settings:"case" 1, "kern" 1;
	-webkit-font-feature-settings:"case" 1, "kern" 1;
	font-feature-settings:"case" 1, "kern" 1;
}
.cpsp {
	-moz-font-feature-settings:"cpsp" 1, "kern" 1;
	-moz-font-feature-settings:"cpsp=1, kern=1";
	-ms-font-feature-settings:"cpsp" 1, "kern" 1;
	-o-font-feature-settings:"cpsp" 1, "kern" 1;
	-webkit-font-feature-settings:"cpsp" 1, "kern" 1;
	font-feature-settings:"cpsp" 1, "kern" 1;
}

.dlig {
	-moz-font-feature-settings:"kern" 1, "liga" 1, "dlig";
	-moz-font-feature-settings:"kern=1, liga=1, dlig=1";
	-ms-font-feature-settings:"kern" 1, "liga" 1, "dlig";
	-o-font-feature-settings:"kern" 1, "liga" 1, "dlig";
	-webkit-font-feature-settings:"kern" 1, "liga" 1, "dlig";
	font-feature-settings:"kern" 1, "liga" 1, "dlig";
	font-variant-ligatures: discretionary-ligatures;
}

.nocalt {
	-moz-font-feature-settings:"calt" 0, "kern" 1;
	-moz-font-feature-settings:"calt=0, kern=1";
	-ms-font-feature-settings:"calt" 0, "kern" 1;
	-o-font-feature-settings:"calt" 0, "kern" 1;
	-webkit-font-feature-settings:"calt" 0, "kern" 1;
	font-feature-settings:"calt" 0, "kern" 1;
}

.ss01 {
	-moz-font-feature-settings:"kern" 1, "liga" 1, "ss01" 1;
	-moz-font-feature-settings:"kern=1, liga=1, ss01=1";
	-ms-font-feature-settings:"kern" 1, "liga" 1, "ss01" 1;
	-o-font-feature-settings:"kern" 1, "liga" 1, "ss01" 1;
	-webkit-font-feature-settings:"kern" 1, "liga" 1, "ss01" 1;
	font-feature-settings:"kern" 1, "liga" 1, "ss01" 1;
}

.ss02 {
	-moz-font-feature-settings:"kern" 1, "liga" 1, "ss02" 1;
	-moz-font-feature-settings:"kern=1, liga=1, ss02=1";
	-ms-font-feature-settings:"kern" 1, "liga" 1, "ss02" 1;
	-o-font-feature-settings:"kern" 1, "liga" 1, "ss02" 1;
	-webkit-font-feature-settings:"kern" 1, "liga" 1, "ss02" 1;
	font-feature-settings:"kern" 1, "liga" 1, "ss02" 1;
}

.ss0102 {
	-moz-font-feature-settings:"kern" 1, "liga" 1, "ss01" 1, "ss02" 1;
	-moz-font-feature-settings:"kern=1, liga=1, ss01=1, ss02=1";
	-ms-font-feature-settings:"kern" 1, "liga" 1, "ss01" 1, "ss02" 1;
	-o-font-feature-settings:"kern" 1, "liga" 1, "ss01" 1, "ss02" 1;
	-webkit-font-feature-settings:"kern" 1, "liga" 1, "ss01" 1, "ss02" 1;
	font-feature-settings:"kern" 1, "liga" 1, "ss01" 1, "ss02" 1;
}

.ss03 {
	-moz-font-feature-settings:"kern" 1, "liga" 1, "ss03" 1;
	-moz-font-feature-settings:"kern=1, liga=1, ss03=1";
	-ms-font-feature-settings:"kern" 1, "liga" 1, "ss03" 1;
	-o-font-feature-settings:"kern" 1, "liga" 1, "ss03" 1;
	-webkit-font-feature-settings:"kern" 1, "liga" 1, "ss03" 1;
	font-feature-settings:"kern" 1, "liga" 1, "ss03" 1;
}

.ss04 {
	-moz-font-feature-settings:"kern" 1, "liga" 1, "ss04" 1;
	-moz-font-feature-settings:"kern=1, liga=1, ss04=1";
	-ms-font-feature-settings:"kern" 1, "liga" 1, "ss04" 1;
	-o-font-feature-settings:"kern" 1, "liga" 1, "ss04" 1;
	-webkit-font-feature-settings:"kern" 1, "liga" 1, "ss04" 1;
	font-feature-settings:"kern" 1, "liga" 1, "ss04" 1;
}

.ss05 {
	-moz-font-feature-settings:"kern" 1, "liga" 1, "ss05" 1;
	-moz-font-feature-settings:"kern=1, liga=1, ss05=1";
	-ms-font-feature-settings:"kern" 1, "liga" 1, "ss05" 1;
	-o-font-feature-settings:"kern" 1, "liga" 1, "ss05" 1;
	-webkit-font-feature-settings:"kern" 1, "liga" 1, "ss05" 1;
	font-feature-settings:"kern" 1, "liga" 1, "ss05" 1;
}

.smallcaps {
	-moz-font-feature-settings:"c2sc";
	-moz-font-feature-settings:"c2sc=1";
	-ms-font-feature-settings:"c2sc";
	-o-font-feature-settings:"c2sc";
	-webkit-font-feature-settings:"c2sc";
	font-feature-settings:"c2sc";
}

.ss03c2sc {
	-moz-font-feature-settings:"kern" 1, "liga" 1, "ss03" 1, "c2sc";
	-moz-font-feature-settings:"kern=1, liga=1, ss03=1, c2sc=1";
	-ms-font-feature-settings:"kern" 1, "liga" 1, "ss03" 1, "c2sc";
	-o-font-feature-settings:"kern" 1, "liga" 1, "ss03" 1, "c2sc";
	-webkit-font-feature-settings:"kern" 1, "liga" 1, "ss03" 1, "c2sc";
	font-feature-settings:"kern" 1, "liga" 1, "ss03" 1, "c2sc";
}

.ss04c2sc {
	-moz-font-feature-settings:"kern" 1, "liga" 1, "ss04" 1, "c2sc";
	-moz-font-feature-settings:"kern=1, liga=1, ss04=1, c2sc=1";
	-ms-font-feature-settings:"kern" 1, "liga" 1, "ss04" 1, "c2sc";
	-o-font-feature-settings:"kern" 1, "liga" 1, "ss04" 1, "c2sc";
	-webkit-font-feature-settings:"kern" 1, "liga" 1, "ss04" 1, "c2sc";
	font-feature-settings:"kern" 1, "liga" 1, "ss04" 1, "c2sc";
}

.ss05c2sc {
	-moz-font-feature-settings:"kern" 1, "liga" 1, "ss05" 1, "c2sc";
	-moz-font-feature-settings:"kern=1, liga=1, ss05=1, c2sc=1";
	-ms-font-feature-settings:"kern" 1, "liga" 1, "ss05" 1, "c2sc";
	-o-font-feature-settings:"kern" 1, "liga" 1, "ss05" 1, "c2sc";
	-webkit-font-feature-settings:"kern" 1, "liga" 1, "ss05" 1, "c2sc";
	font-feature-settings:"kern" 1, "liga" 1, "ss05" 1, "c2sc";
}

.superiors {
	-moz-font-feature-settings:"sups";
	-moz-font-feature-settings:"sups=1";
	-ms-font-feature-settings:"sups";
	-o-font-feature-settings:"sups";
	-webkit-font-feature-settings:"sups";
	font-feature-settings:"sups";
	font-variant-position: sup;
}

.inferiors {
	-moz-font-feature-settings:"subs";
	-moz-font-feature-settings:"subs=1";
	-ms-font-feature-settings:"subs";
	-o-font-feature-settings:"subs";
	-webkit-font-feature-settings:"subs";
	font-feature-settings:"subs";
	font-variant-position: sub;
}

.ordn {
	-moz-font-feature-settings:"ordn";
	-moz-font-feature-settings:"ordn=1";
	-ms-font-feature-settings:"ordn";
	-o-font-feature-settings:"ordn";
	-webkit-font-feature-settings:"ordn";
	font-feature-settings:"ordn";
	font-variant-numeric: ordinal;
}

.nalt {
	-moz-font-feature-settings:"nalt";
	-moz-font-feature-settings:"nalt=1";
	-ms-font-feature-settings:"nalt";
	-o-font-feature-settings:"nalt";
	-webkit-font-feature-settings:"nalt";
	font-feature-settings:"nalt";
}

.szero {
	-moz-font-feature-settings:"zero";
	-moz-font-feature-settings:"zero=1";
	-ms-font-feature-settings:"zero";
	-o-font-feature-settings:"zero";
	-webkit-font-feature-settings:"zero";
	font-variant-numeric: slashed-zero
}

.tf {
	-moz-font-feature-settings:"tnum";
	-moz-font-feature-settings:"tnum=1";
	-ms-font-feature-settings:"tnum";
	-o-font-feature-settings:"tnum";
	-webkit-font-feature-settings:"tnum";
	font-variant-numeric: tabular-nums;
}

.of {
	-moz-font-feature-settings:"onum";
	-moz-font-feature-settings:"onum=1";
	-ms-font-feature-settings:"onum";
	-o-font-feature-settings:"onum";
	-webkit-font-feature-settings:"onum";
	font-variant-numeric: oldstyle-nums;
}

.tosf {
	-moz-font-feature-settings:"onum", "tnum";
	-moz-font-feature-settings:"onum=1, tnum=1";
	-ms-font-feature-settings:"onum", "tnum";
	-o-font-feature-settings:"onum", "tnum";
	-webkit-font-feature-settings:"onum", "tnum";
	font-variant-numeric: oldstyle-nums, oldstyle-nums;
}

.ornm {
	-moz-font-feature-settings:"ornm" 1;
	-moz-font-feature-settings:"ornm=1";
	-ms-font-feature-settings:"ornm" 1;
	-o-font-feature-settings:"ornm" 1;
	-webkit-font-feature-settings:"ornm" 1;
	font-variant-alternates: ornaments(1)
}

.titl {
	-moz-font-feature-settings:"titl" 1;
	-moz-font-feature-settings:"titl=1";
	-ms-font-feature-settings:"titl" 1;
	-o-font-feature-settings:"titl" 1;
	-webkit-font-feature-settings:"titl" 1;
	font-variant-caps: titling-caps;
}

.swsh {
	-moz-font-feature-settings:"swsh" 1;
	-moz-font-feature-settings:"swsh=1";
	-ms-font-feature-settings:"swsh" 1;
	-o-font-feature-settings:"swsh" 1;
	-webkit-font-feature-settings:"swsh" 1;
	font-feature-settings:"swsh" 1;
}

.swsh2 {
	-moz-font-feature-settings:"swsh" 2;
	-moz-font-feature-settings:"swsh=2";
	-ms-font-feature-settings:"swsh" 2;
	-o-font-feature-settings:"swsh" 2;
	-webkit-font-feature-settings:"swsh" 2;
	font-feature-settings:"swsh" 2;
}

.cswh {
	-moz-font-feature-settings:"cswh" 1;
	-moz-font-feature-settings:"cswh=1";
	-ms-font-feature-settings:"cswh" 1;
	-o-font-feature-settings:"cswh" 1;
	-webkit-font-feature-settings:"cswh" 1;
	font-feature-settings:"cswh" 1;
}
